{% include header-theme-base-en.html %}            

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
<h1 id="wb-cont">{{ page.title }}</h1>

{% include content-buttons-en.html %}
{{ content }}

<dl id="base-date-mod" role="contentinfo">
<dt>Date modified:</dt><dd><span><time>{{ page.date }}</time></span></dd>
</dl>
<div class="clear"></div>
<!-- MainContentEnd -->
</div></div>
{% if page.secondary_menu == false %}{% elsif site.secondary_menu == false and page.secondary_menu != true %}
{% elsif site.secondary_menu == true or page.secondary_menu == true %}
{% include secondary-menu-en.html %}
{% endif %}
</div></div>

{% include footer-theme-base-en.html %}  